# --- CẤU HÌNH DÙNG CHUNG ---
DB_HOST=db
DB_PORT=5432

# --- CẤU HÌNH USER SERVICE ---
USER_DB_NAME=user_db
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=secret
USER_SERVER_PORT=8081

# --- CẤU HÌNH RESTAURANT SERVICE ---
RESTAURANT_DB_NAME=restaurant_db
RESTAURANT_DB_USERNAME=postgres
RESTAURANT_DB_PASSWORD=secret
RESTAURANT_SERVER_PORT=8082

# --- CẤU HÌNH ORDER SERVICE ---
ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=postgres
ORDER_DB_PASSWORD=secret
ORDER_SERVER_PORT=8083

# --- CẤU HÌNH NOTIFICATION SERVICE ---
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USERNAME=postgres
NOTIFICATION_DB_PASSWORD=secret
NOTIFICATION_SERVER_PORT=8084